.git
.gitignore
.pytest_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/*.sqlite3
.venv
venv
node_modules
apps/web/node_modules
apps/web/.next
services/controller/.pytest_cache
services/controller/.venv
services/controller/__pycache__
db/__pycache__
docs/**/.DS_Store
