COZE_CALLBACK_SECRET=change-me
COZE_ANNOTATION_RUN_URL=https://zvqrc5d642.coze.site/run
COZE_API_TOKEN=change-me
COZE_RISK_RUN_URL=https://d784kg4tzc.coze.site/run
COZE_RISK_API_TOKEN=change-me
COZE_TIMEOUT_SECONDS=15
CONTROLLER_API_AUTH_TOKEN=change-me
RELEASE_BOOTSTRAP_DATA=true
POSTGRES_DB=mutidata_nexus
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
CONTROLLER_PORT=8000
WEB_PORT=3000
